artem.py
calculator_for_course.py
dicts
f_strings.py
funcs3
functions
functions2
hw1.py
hw2.py
IMT.py
input.py
lesson
lesson4.py
lesson_5.py
lesson6.py
modules
ran_num.py
shop_tmp
string_methods.py
strings_methods.py
students
test_2.py
test.py
to_del
lesson_15_type_hints/dynamic.png
lesson_15_type_hints/static.jpg
lesson_15_type_hints/lesson.py
settings.json



.DS_Store
.huskyrc.json
out
log.log
**/node_modules
*.pyc
*.vsix
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
__pycache__
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
cucumber-report.json
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
port.txt
precommit.hook
pythonFiles/lib/**
pythonFiles/get-pip.py
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
.vs/
test-results*.xml
xunit-test-results.xml
build/ci/performance/performance-results.json
!build/
debug*.log
debugpy*.log
pydevd*.log
nodeLanguageServer/**
nodeLanguageServer.*/**
dist/**
# translation files
*.xlf
package.nls.*.json
l10n/